@import "./base/globals";
@import "./base/mixins";
@import "./base/variables";
// HEADER
.header-top {
    font-size: $small-font;
    color: $paragraph-color;
    padding: 0.5rem;
    border-bottom: 1px solid #d0d0d0;
}

.track-order {
    text-align: right;
    a {
        color: $primary-orange;
    }
}

.ht-contact {
    li {
        margin-right: 2rem;
    }
    i {
        margin-right: 0.5rem;
    }
}

.social-links {
    justify-content: flex-end;
    li {
        margin-right: 1.5rem;
    }
}

.track-order {
    i {
        margin-right: 0.5rem;
    }
}

.logo {
    img {
        height: 8rem;
        width: 7rem;
    }
}

.navigation {
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: $primary-orange;
    }
    .dropdown-menu {
        border: 0px solid rgba(0, 0, 0, 0.15);
        background-color: #f2f2f2;
        border-radius: 0;
    }
    .dropdown-item {
        color: #b7b3b3;
        font-weight: 300;
    }
    .dropdown-item:focus,
    .dropdown-item:hover {
        color: white;
        text-decoration: none;
        background-color: $primary-orange;
    }
}

.shop-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        padding: 0 1.2rem;
        font-size: 1.3rem;
        color: $primary-orange;
    }
}

.welcome-text {
    text-align: center;
    img {
        height: 3rem;
        width: 13rem;
    }
}

.title-brand {
    padding: 1.3rem 0;
    text-align: center;
    h1 {
        text-transform: uppercase;
        letter-spacing: 0.8rem;
        color: $primary-orange;
    }
}

.about-text {
    text-align: center;
    font-size: $small-font;
    padding: 0 7rem;
}

.learn-more {
    display: flex;
    justify-content: center;
    a {
        @include button;
    }
}

// BANNER
.main-banner-single {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// CATEGORIES
.ms-image {
    text-align: center;
    img {
        width: 11rem;
        height: 11rem;
    }
}

.ms-title {
    padding: 1rem 0;
    h5 {
        text-align: center;
        font-weight: 400;
    }
}

.mc-single {
    margin-top: 2rem;
    &:hover {
        .ms-image img {
            margin-top: -10px;
        }
        .ms-title {
            a {
                color: $primary-orange;
            }
        }
    }
}

.ms-image img {
    transition: 0.2s linear;
}

.sec-title {
    a {
        @include show-all-btn;
    }
}

// MAIN_CATEGORY
.show-all {
    a {
        @include show-all-btn;
    }
}

// MAIN-PRODUCT-ON-SALE
.mpos-image {
    img {
        height: 30rem;
        width: 30rem;
    }
}

.mpos-desc {
    padding: 0.5rem 0;
    p {
        text-align: justify;
        font-size: $small-font;
    }
}

.mposd-title {
    h6 {
        text-transform: uppercase;
        color: $heading-color;
        font-weight: 800;
        letter-spacing: 0.1rem;
        font-size: $medium-font;
    }
}

.mpos-single {
    .shop-feature {
        justify-content: left;
        li {
            padding: 0;
            padding-right: 1.2rem;
        }
    }
    .learn-more {
        justify-content: left;
        a {
            padding: 0.5rem 4rem;
        }
    }
    .slick-initialized .slick-slide {
        display: flex;
    }
}

.mpos-single {
    position: relative;
    .slick-arrow {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 2rem;
        z-index: 99;
        color: $primary-orange;
        display: inline-block;
        height: 1rem;
        width: 4rem;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        &:hover {
            color: $seconday-red;
        }
    }
    i.fas.fa-long-arrow-alt-left.slick-arrow {
        margin-right: 3rem;
        color: $paragraph-color;
        animation: 0.5s linear;
        &:hover {
            color: $primary-orange;
        }
    }
}

.main-new-arrival {
    .mpos-image {
        position: relative;
        // img {
        //     // border-radius: 50%;
        // }
        .mpos-fly {
            img {
                position: absolute;
                bottom: 20%;
                right: -20%;
                transform: rotate(350deg);
                height: 30rem;
                width: 30rem;
            }
        }
    }
}

// .main-new-arrival {
//      :hover {
//         transition: 2s linear;
//         .mpos-fly {
//             transform: scale(1.5);
//         }
//     }
// }
// DESIGN
.md-img {
    position: relative;
    img {
        height: auto;
        width: 70%;
        object-fit: cover;
    }
}

.md-img-omph {
    img {
        height: 10rem;
        width: 35rem;
    }
}

.main-design {
    position: relative;
    .md-img-omph {
        position: absolute;
        bottom: 18rem;
        right: 25rem;
        z-index: -1;
    }
}

.md-text {
    p {
        width: 17%;
        text-align: justify;
        position: absolute;
        bottom: 30%;
        right: 20%;
    }
}

// FOOTER-MAIN
footer {
    text-align: center;
    background: $primary-orange;
    .mf-brand {
        h2 {
            color: white;
            letter-spacing: 1rem;
            text-transform: uppercase;
        }
    }
}

.main-footer {
    .social-links {
        margin: 3rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $medium-font;
    }
}

.ctc {
    margin: 2rem 0;
    a {
        padding: 1rem 3rem;
        background: #1a1919;
        i {
            margin-right: 1rem;
        }
    }
}

.footer-bottom {
    background: whitesmoke;
}

.fb-company {
    padding: 1rem 0;
    text-align: center;
    a {
        text-transform: uppercase;
        color: rgb(77, 77, 77);
        font-weight: 800;
        letter-spacing: 0.2rem;
        span {
            font-weight: 300;
            margin-right: 0.5rem;
            letter-spacing: 0;
        }
    }
}

// SEARCH BAR
.pos-rel {
    position: relative;
}

#myDIV {
    position: absolute;
    top: 6rem;
    width: 90%;
    text-align: center;
    display: none;
    transition: 0.3s linear;
    z-index: 999999;
    background: white;
    padding: 1rem 1.5rem;
}

.input-group-text {
    background-color: #fafafa;
}

.header-bottom {
    padding: 1rem;
    .input-group>.custom-select:not(:last-child),
    .input-group>.form-control:not(:last-child) {
        font-size: $small-font !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.search-filter {
    text-align: left;
    input {
        outline: none;
        border: none;
        font-size: $small-font;
    }
    span {
        padding-top: 0.8rem;
        display: block;
        padding-bottom: 0.4rem;
        font-size: $small-font;
        color: $paragraph-color;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }
    form {
        padding: 0.4rem 0rem;
        select {
            word-wrap: normal;
            display: flex;
            padding: 0.4rem 1.4rem;
            align-items: center;
            justify-content: center;
            border: 1px solid #3a3a3a;
            font-size: $small-font;
            outline: none;
            outline: 0;
            box-shadow: none;
        }
        label {
            font-size: $small-font;
            color: $paragraph-color;
        }
    }
}

.form-control {
    border-radius: 0rem;
}

.submit-btns {
    button {
        margin-top: 1.5rem;
        margin-right: 0.6rem;
    }
    .btn-search {
        background-color: $primary-orange;
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        color: white;
        letter-spacing: 0.2rem;
        font-weight: 100;
        transition: 0.2s linear;
        &:hover {
            background-color: #a1510f;
        }
    }
    .btn-delete {
        background-color: #ffffff;
        outline: none;
        border: none;
        color: $paragraph-color;
        transition: 0.2s linear;
        letter-spacing: 0.2rem;
        font-weight: 100;
        &:hover {
            color: #a10f0f;
        }
    }
}

// SINGLE-CATEGORY
.wear-types {
    padding: 0 32%;
    li {
        padding: 0.4rem 0;
        text-transform: uppercase;
        color: $paragraph-color;
        &:hover {
            color: $primary-orange;
        }
    }
}