// Color-options
$primary-orange: #db6f15;
$seconday-red: #be5054;
$heading-color: #818181;
$paragraph-color: #b7b3b3;
// font-size
$extra-large: 3rem;
$large-font: 2.25rem;
$medium-font: 1.5rem;
$small-font: 0.875rem;
$xs-font: 0.5rem;