// Color-options
$primary-orange: #db6f15;
$seconday-red: #be5054;
$heading-color: #818181;
$paragraph-color: #b7b3b3;
// font-size
$extra-large: 1.953rem;
$large-font: 1.563rem;
$medium-font: 1.25rem;
$para-font: 1rem;
$small-font: 0.8rem;
$xs-font: 0.64rem;